html {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  background: #0a2652;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
div {
  text-align: center;
  margin-top: 10px;
}
input {
  width: 300px;
  height: 30px;
  font-size: 20px;
}
.btn {
  font-size: 25px;
  margin-top: 20px;
  width: 256px;
  height: 40px;
  background-color: #95b9de;
  color: #000;
}

.alert {
  margin-top: 25px;
}
